html {
  --color-white: #fff;
  --color-black: #272727;
  --color-gray-dark: #888;
  --color-gray-light: #F4F4F4;
  --color-background: #F8F7F4;
  --color-primary: #FFD770;
  --color-secondary: #ABDEE3;
  --color-tirminaly: #009E68;
}
