@use "global" as global;

.content {
  margin-bottom: 120px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.ttl {
  font-family: global.$font-family-ubuntu;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 30px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro_txt {
  width: 50%;

    > p + p {
    margin-top: 1em;
  }
}

.intro_img {
  > img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 12px 18px 4px rgba(145, 145, 145, 0.1), 0 24px 16px -14px rgba(145,145,145, 40%);
  }
}

.wrap {
  display: flex;
}

.wrap_ttl {
  width: 25%;
  font-family: global.$font-family-ubuntu;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.4em;
}

.wrap_detail {
  width: calc(100% - 25%);
  
  > div + div {
      margin-top: 1.6em;
  }
  
  > p + p {
    margin-top: 1em;
  }
}

.wrap_beginner {
  margin-top: 0.3em;
  font-size: 14px;
  color: global.$color-body-thin;
}