/* breakpoint */
$breakpoint: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mediaquery($device) {
  @media #{map-get($breakpoint, $device)} {
    @content;
  }
}

/* hover */
@mixin hover {
  transition: opacity 0.3s;
  
    &:hover {
    opacity: 0.7;
  }
}