$color-primary: #529fff;
$color-secondary: #3d3dff;

$color-bg: #f9f8f5;
$color-body: #151515;
$color-body-thin: #646464;

$font-family-default: "Inter", "Noto Sans JP", sans-serif;
$font-family-ubuntu: "Ubuntu", "Noto Sans JP", sans-serif;