@use "global" as global;

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 160px 0 50px;
}

.copyright {
  font-size: 14px;
}

.links {
    display: flex;
    font-size: 14px;
    
  > a {
    margin-left: 30px;
    font-family: global.$font-family-ubuntu;
    @include global.hover;
    
    &:first-child {
      margin-left: 0;
    }
  }
}