@use "global" as global;

.nav {
}

.toggle {
  display: none;
}

.lists {
  > ul {
    display: flex;
    
     > li {
      margin-left: 50px;
      font-family: global.$font-family-ubuntu;
      font-size: 18px;
      
      &:first-child {
        margin-left: 0;
      }
     }
  }
}